**/node_modules
**/.next*
**/.netlify
.git
.ai
apps/web/*
!apps/web/package.json
apps/api/data
apps/api/src/generated
tools/artifacts
tools/mock/state
packages/contracts/lib
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast
packages/contracts/test
packages/contracts/src
**/*.log
.env
.env.*
